<div class="film-title">
  <h1>New film</h1>
</div>

<div class="film-icon">
  <i class="fa-solid fa-film"></i>
</div>

<div class="film-form">
  <%= render "form", film: @film %>
</div>

<div class="film-back-link">
  <%= link_to "Back to films", films_path %>
</div>
